*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 50px;
    margin: 30px 0;
}
nav{
    width: 100%;
    text-align: right;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
.nav-link{
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.nav-link:hover{
    color: #fb5283;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.column-1{
    margin-left: 50px;
    position: relative;
}
.column-1::before{
    content: "";
    width: 10px;
    height: 57%;
    background: linear-gradient(to right, #fb5283, #ff3527);
    position: absolute;
    left: -40px;
    top: 8px;
}
.column-1 h2{
    font-size: 54px;
}
.column-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0;
}
.column-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.column-1 h4{
    font-size: 20px;
    color: #000;
    margin: 30px 0;
}
.column-1 button{ 
    width: 140px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, #fb5283, #ff3527);
}
.column-2{
    display: flex;
    align-items: center;
    position: relative;
}
.controller{
    width: 90%;
    z-index: 2;
}
.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #fb5283, #ff3527);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
 
}
.column-2 button{
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
   
}
.column-2 button img{
    height: 30px;
    width: 30px;
}
.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.social-links img{
    height: 20px;
    margin: 20px;
    cursor: pointer;
}